table td,
table th {
    padding: 12px;
    vertical-align: middle;
}

.btn-sm {
    padding: 4px 8px !important;
    font-size: 0.875rem !important;
}







textarea {
    border-radius: 10px;
    margin: 20px auto;
    border: 1px solid #ddd;
    padding: 10px;
    resize: both !important;
}