
        table {
            width: 50%;
            max-width: 800px;
            margin: auto;
            border-collapse: collapse;
        }

        th,
        td {
            border-bottom: 1px solid #ddd;
        }

   




        textarea {
            border-radius: 10px;
            margin: 20px auto;
            border: 1px solid #ddd;
            padding: 10px;
            resize: both !important;
        }